---
/**
 * @description 阅读进度条组件，显示当前阅读进度
 * @features requestAnimationFrame 优化、passive 事件监听、View Transitions 兼容
 * @usage 在 ArticleLayout 中引用
 */
---

<div id="reading-progress" class="fixed top-0 left-0 h-[2px] bg-foreground/70 z-[100] w-0 transition-[width] duration-100 ease-out"></div>

<script is:inline src="/js/reading-progress.js"></script>
